Filename: learnfrench.php
Title: Learn French Free at 5Muses Software L.L.C.
NavPos: 1150
Description: Learn French free online with this unique study aid designed to fit your needs. Build your vocabulary Now!
Keywords: learn, french, learn french, free, language, vocabulary, grammer, study, online, on-line, foreign, translation, translator, dictionary, verbs, nouns

<H1 CLASS=title>Learn French</H1>
<DIV CLASS="spaced2" STYLE="clear:all;padding:8px 8px 8px 8px;font-size:13px;text-align:justify;">

<P>%Learn French% free online with the 5Muses %Dynamic Fast Cards% learning program. Whether you are a student or just have an interest
in learning %French%, our online program will help you build your vocabulary. Our program is designed based on the idea of choice.
You are not stuck with a pre-defined manner of learning, nor are you limited to building your %French vocabulary% "our way."</P>

<B><U>How It Works</U></B>

<IMG STYLE="margin:20px 10px 5px 8px;float:left;" SRC=images/clipLessonFull.jpg>
<P>The %Dynamic Fast Cards% program uses an approach that we call a <B>Lesson</B> that you can see to the left. The Lesson Builder in the program lets you search for the
words that you want to learn and add them to your lesson. With a free account, you can save your lessons and load them later. You can 
use your lessons as many times as you want. After you have created a lesson, you can then run it. When the lesson is running, your
screen turns into a simple flash card style of learning. Both the English and the Foreign words will be shown on your screen. </P>

<P>When you see the words, you also will hear the %French% word pronounced by a professional native speaker of Parisain French. No more trying to guess or figure 
out the correct pronunciation of the vocabulary you are trying to build. With the professional native speaker pronouncing the word for you in 
crystal clear MP3 Audio, you can learn your %French vocabulary% with confidence and ease.</P>

<B><U>Building your lesson</U></B>

<IMG STYLE="margin:10px 0px 5px 10px;float:right;" SRC="images/clip_fr.jpg">
<P>Finding the words that you want to learn is simple and easy with the integrated database of more than 2700 words. You can see this Vocabulary Database
to the right. The database can be viewed seperately or within the Lesson Builder. As you can see near the top of the Database section, you can browse
the database by a letter of the alphabet, or you can search for a word using the search bar. The black arrow will clear your search so that you can 
see the entire database. </P>

<P>Searching is very easy to accomplish. You can enter either a whole word in either English or %French%, or enter part of a word. The database will search
both the English and the %French% databases for words that contain the letters that you searched for. When you have found the word you were looking for, simply
click the <B>add</B> button and that word will be added to your lesson.</P>

<B><U>The Dynamic Fast Cards Screen</U></B>

<IMG STYLE="margin:20px 10px 5px 8px;float:left;" SRC=images/clip_pr.jpg>
<P> When you are ready to watch and listen to your %Dynamic Fast Cards%, simply click the "Run This Lesson" button. You will see a screen with the English and %French% words
one by one as the professional native speaker pronounces the word for you in crystal clear MP3 audio. At the bottom of the screen you will see an options bar. From 
here you can change the volume and speed at which the lesson is played. The repeat slider changes the number of times each word is repeated. And the Lesson Cycle
slider lets you repeat the entire lesson from start to finish</P>

<P>Why wait any longer? Try the %Dynamic Fast Cards% out today! We are sure you will benifit greatly from our product, and we offer a 30-day money back 
garuntee for all purchases of the four month and one year subsciptions. Also, we value your privacy and financial rights, and we do not offer "Recurring Subscriptions."
When you buy a subscription, it is for the amount of time and money that you pay for. We do not auto-renew your subscription or charge you any other ammounts or fees.
When your subscription is about to expire, we will send you an e-mail notification to remind you of the expiration. We offer subscriptions for 1 month, 4 months, and 1 
full year. Why delay? %Learn French% today!</P>

</DIV>