.font12 {font-family:bitstream vera sans,arial,verdana,helvetica,sans-serif;}
.bfont12 {font-family:bitstream vera sans,arial,verdana,helvetica,sans-serif;font-size:12;padding:2px 0px 0px 0px; }
.iclock {background-color: transparent;font-family:bitstream vera sans,verdana,helvetica,sans-serif;font-size:12;padding:2px 0px 0px 0px; border: none; }
.navsh {font-family:verdana,bitstream vera sans,luxi-sans,helvetica,sans-serif;font-size:12;height:20;overflow: hidden;font-weight:normal;vertical-align:bottom;padding:0px 0px 2px 20px;border-bottom:1px dashed #808080;}
.navshb {font-family:bitstream vera sans,arial,verdana,helvetica,sans-serif;font-size:12;background-color: transparent;height:20;display:none;font-weight:normal;padding:0px 0px 0px 0px;border-bottom:1px solid #004000;}
.navh {font-family:bitstream vera sans,verdana,helvetica,sans-serif;font-size:14;color:#FCF7F5;cursor:hand;height:19;width:200;font-weight:normal;padding:0px 0px 0px 0px;border-bottom:1px solid #004000;overflow: hidden;}
img {background-color: transparent;margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px; border: none; }
.mainct {background-color: #FFFFFF;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;overflow: auto;height:420;width:766;float:right;border-top:1px solid black;border-bottom:1px solid black;margin:7px 0px 0px 0px;padding:0px 0px 0px 0px;}
body {background-color: #FFFFFF;margin:0px 0px 0px 0px;padding:2px 2px 0px 6px;}
.mcspan {font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;padding:5px 5px 5px 5px;}
.divResult {font-family:verdana,bitstream vera sans,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;padding:6px 0px 0px 6px;}
.fade1{background-image: url("tl.php?c=FDF5D0");background-color:transparent;margin: 2px 2px 2px 2px;border: 1px solid #9D7E00;font-size:12;}
.maint1 {background-color: #FFFFFF;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;clear: both;color: #000040;border-left:2px solid #000080;margin:0px 6px 0px 6px;padding:0px 12px 0px 12px;}
.maintir {background-color: #E0E0FF;margin:4px 6px 2px 6px;padding:0px 0px 0px 0px;}
.maint2 {background-color: #FFFFFF;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;clear: both;border-right:2px solid black;margin:0px 6px 0px 6px;padding:0px 6px 0px 6px;}
.maintil {background-color: #E0E0FF;margin:4px 6px 2px 6px;padding:0px 0px 0px 0px;}
.maintoc {background-color: #FFFFFF;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;clear: both;color: #9090B0;float: right;width: 260;border-left:2px solid #A0A0C0;border-bottom:2px solid #A0A0C0;margin:0px 6px 6px 6px;padding:0px 6px 6px 6px;}
.loginp {background-color: #9090FF;background-image: url('images/bback1.jpg');height:100;width:300;font-size:10;overflow: hidden;display:none;position:absolute;border: 1px solid black;padding: 1px 0px 0px 8px;}
.dfc1 {background-color: #FFFFFF;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;clear: both;color: #000040;border-left:2px solid #000080;margin:0px 6px 0px 6px;padding:0px 0px 0px 10px;}
input.loginb1{background-image: url('images/button3.gif');background-color: transparent;font-size: 8pt;font-weight: bold;text-align: center;clear: none;color: white;width: 80;height: 20;border: none;padding: 0px 0px 2px 0px;}
.t1 {font-family:bitstream vera sans,arial,verdana,helvetica,sans-serif;font-size:8pt;padding:2px 0px 0px 0px; }
.dfc1lang1 {font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:center;float:right;color: #404040;border: none;margin:0px 2px 0px 2px;padding:0px 0px 0px 0px;}
input.vocab{background-image: url('images/input2.jpg');font-size: 8pt;font-weight: bold;text-align: left;clear: none;width: 180;border: solid 1px #000000;padding: 3px 0px 0px 5px;}
.dfc1main {background-color: transparent;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;clear: both;color: #000040;border-top:1px solid #000080;border-bottom:1px solid #000080;margin:0px 0px 0px 0px;padding:8px 12px 8px 12px;}
.dfc1find0 {background-color: #A0A0A0;width: 1;height: 16px;overflow: hidden;border-top:1px solid white;border-left:1px solid black;margin:0px 0px 0px 0px;padding:1px 0px 0px 2px;}
input.login1{background-image: url('images/input3.jpg');font-size: 8pt;font-weight: bold;text-align: left;clear: none;width: 200;border: solid 1px #000000;padding: 3px 0px 0px 5px;}
.dfc1find1 {background-color: #fbefe3;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;float:left;font-weight:bold;text-align:center;color: #000000;cursor:pointer;width: 80px;border-left:1px solid black;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1title {font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:16;font-weight:bold;text-align: left;color: #000040;float:left;margin:0px 0px 0px 0px;padding:6px 0px 6px 0px;}
.dfc1find2 {background-color: #fbefe3;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:center;float:left;color: #002040;width: 80px;border-left:1px solid #002040;border-right:1px solid ##002040;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1findsec {background-image: url('images/2130-1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;clear:both;color: #696135;width: 228px;height: 52px;overflow: hidden;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.dfc1ressec {background-color: #77befb;background-image: url('images/bvocab1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:left;clear:left;color: #324c62;width: 440px;height: 310px;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1res1 {background-color: #e2e6f8;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:center;float:left;clear:left;color: black;width: 160px;border-left:1px solid #324c62;border-right:1px solid #324c62;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1def1 {background-color: #76defc;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:center;float:right;color: #325762;width: 120px;border-left:1px solid #325762;border-right:1px solid #325762;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1defsec {background-color: #76defc;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:right;clear:right;width:220px;color: #325762;border-top:1px solid #325762;border-bottom:1px solid #325762;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1encr {background-color: transparent;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;float: right;width: 230px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.dfc1encl {background-color: transparent;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;float: left;clear: none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.dfc1quick1 {background-color: #76defc;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:center;float:right;clear:both;color: #325762;width: 120px;border-left:1px solid #325762;border-right:1px solid #325762;margin:16px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1quicksec {background-color: #76defc;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;clear:both;color: #325762;width: 220px;border-top:1px solid #325762;border-bottom:1px solid #325762;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1lang0 {font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:center;float:right;color: #404040;border: none;margin:0px 2px 0px 2px;padding:0px 0px 0px 0px;}
.dfc1vocab {font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:8pt;font-weight:normal;text-align:left;color: #000000;border-bottom:1px solid #8090A0;border-right:1px solid #8090A0;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1vocabscroll {background-color: transparent;text-align:left;width: 432px;height: 280px;overflow: auto;border-top: 1px solid black;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.dfc1vocabtitle {background-color: transparent;text-align:left;width: 432px;height: 20px;overflow: auto;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.dfc1vocabr {font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:8pt;font-weight:normal;text-align:left;color: #7c829c;width: 180px;border-bottom:1px solid #8090A0;border-right:1px solid #8090A0;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1bl {background-color: transparent;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:8pt;font-weight:bold;color: #000000;cursor:pointer;border-bottom:1px solid #A09080;border-right:1px solid #A09080;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.dfc1small {font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:8pt;font-weight:normal;color: #000000;}
.dfc1_sp_ressec {background-color: #77befb;background-image: url('images/sp_bvocab1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:left;clear:left;color: #324c62;width: 440px;height: 310px;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1_fr_ressec {background-color: #77befb;background-image: url('images/fr_bvocab1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:left;clear:left;color: #324c62;width: 440px;height: 310px;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1_ge_ressec {background-color: #77befb;background-image: url('images/ge_bvocab1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:left;clear:left;color: #324c62;width: 440px;height: 310px;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1_sp_res1 {background-color: #def8da;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:center;float:left;clear:left;color: black;width: 160px;height: 16px;border-left:1px solid #395c3e;border-right:1px solid #395c3e;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1_ge_res1 {background-color: #f0d4d4;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:center;float:left;clear:left;color: black;width: 160px;border-left:1px solid #612622;border-right:1px solid #612622;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1_fr_res1 {background-color: #e2e6f8;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:center;float:left;clear:left;color: black;width: 160px;border-left:1px solid #324c62;border-right:1px solid #324c62;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1panel1 {background-color: transparent;text-align:left;overflow: auto;width: 192px;height: 302px;font-family:verdana,luxi-sans,helvetica,sans-serif;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.dfc1_sp_ressecp1 {background-color: #77befb;background-image: url('images/sp_bvocab1p1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:left;clear:left;color: #324c62;height: 310px;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1_fr_ressecp1 {background-color: #77befb;background-image: url('images/fr_bvocab1p1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:left;clear:left;color: #324c62;height: 310px;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1_ge_ressecp1 {background-color: #77befb;background-image: url('images/ge_bvocab1p1.jpg');font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:bold;text-align:left;float:left;clear:left;color: #324c62;height: 310px;margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;}
.dfc1indent {background-color: transparent;font-family:verdana,luxi-sans,helvetica,sans-serif;font-size:12;font-weight:normal;text-align:left;clear: both;color: #000040;margin:0px 0px 0px 0px;padding:8px 0px 8px 12px;}
.loginb1{background-image: url('images/button3.gif');background-color: transparent;font-size: 8pt;font-weight: bold;text-align: center;clear: none;color: white;width: 80;height: 20;border: none;padding: 0px 0px 2px 0px;}
.dfc1find1:hover {cursor: hand;}
.dfc1bl:hover {cursor: hand;}