BODY {
    font-family: Verdana, Arial, luxi sans, lucida, sans-serif;
    background-attachment: fixed;
    color: #000;
    font-size: 10pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
html { 
    overflow-x: auto; 
    } 
img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    }
table {
    color: #444;
    font-size: 10pt;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    }
a:link, a:visited {
    color: #AAAAAA;
    text-decoration: underline;
    }
a:hover {
    color: #2A33B1;
    text-decoration: underline;
    }
a:active {
    color: #2A33B1;
    text-decoration: underline;
    }
