a.elink:link, a.elink:visited { 
    color: #000000; 
    text-decoration: none; 
    }
a.elink:hover, a.elink:active { 
    color: #3F4AFC; 
    text-decoration: none; 
    }
a.mlink:link, a.mlink:visited { 
    color: #282; 
    text-decoration: none; 
    border-bottom: 1px dashed #8D8;
    padding: 1px 1px 0px 1px;
    }
a.mlink:hover, a.mlink:active { 
    color: #000; 
    text-decoration: none; 
    background-color: #DFD;
    border: 1px dashed #2A4;
    padding: 0px 0px 0px 0px;
    }
a.tlink:link, a.tlink:visited { 
    color: #78B; 
    text-decoration: none; 
    }
a.tlink:hover, a.tlink:active { 
    color: #02F; 
    text-decoration: none; 
    }
a.adlink:link, a.adlink:visited { 
    color: #FFF; 
    text-decoration: none;
    padding: 1px 1px 1px 1px;
    font-style: oblique;
    }
a.adlink:hover, a.adlink:active { 
    color: #000; 
    text-decoration: none; 
    border-bottom: 1px solid #FE0;
    padding: 1px 1px 0px 1px;
    font-style: oblique;
    }
div.i2s { 
    color: #000; 
    text-decoration: none;
    padding: 0px;
    display: block;
    width:142px;
    height:18px;
    }
div.i2s:hover { 
    background-image:url('images/ni2s2s.png');
    }
div.pad5 {
    padding: 5px 5px 5px 5px;
    }
.title {
    font-family:verdana,luxi-sans,helvetica,sans-serif;
    font-size:18;
    font-weight:bold;
    text-align: left;
    color: #001050;
    margin:0px 0px 0px 0px;
    padding:6px 0px 6px 0px;
    border-bottom:1px solid #000080;
    width: 800px;
    }
.spaced1 {
    letter-spacing:.15em;
    line-height:1.2em;    
    }
.spaced2 {
    letter-spacing:0em;
    line-height:1.7em;    
    }
.dfc {
    color:#2A33B1;
    font-weight:bold;
    }
.nav {
    width:161px;
    /* float:left; */
    border-right:1px dashed #999;
    /* border-right:1px solid #999; */
    padding: 16px 2px 0px 0px;
    color: #555;
    }
.title1 {
    font-size:110%;
    font-weight: bold;
    color: #124479;
    letter-spacing:.1em;
    padding: 0px 25px 0px 0px;
    }
.wsec1 {
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 10px 0px;
    letter-spacing:.03em;
    line-height:1.5em;
    text-align:justify;
    }
.ltop {
    font-weight: bold;
    letter-spacing:.03em;
    line-height:1.0em;
    }
.ltext {
    color:#888;
    letter-spacing:.03em;
    line-height:1.0em;
    }
div.navspacer {
    width:140px;
    height:3px;
    margin: 0px 0px 3px 0px;
    border-bottom: 1px dashed #777;
    }
a.navitem, a.navitem:link, a.navitem:visited {
    cursor:pointer;
    color: #000;
    text-decoration:none;
    padding: 1px 0px 1px 5px;
    display:block;
    }
a.navitem:hover {
    cursor:hand;
    color: #111;
    border-top:1px solid #4A4;
    border-bottom:1px solid #4A4;
    padding: 0px 0px 0px 5px;
    background-color:#DFD;
    }
a.mbaLink, a.mbaLink:link, a.mbaLink:visited {
    background-image:url('images/mbaLink.png');
    width:200px;
    height:18px;
    padding:0px 10px;
    margin:2px 0px;
    font-weight:bold;
    font-size:11px;
    letter-spacing:.1em;
    border:1px solid black;
    cursor:pointer;
    color: #000;
    text-decoration:none;
    display:block;
    }
a.mbaLink:hover {
    cursor:hand;
    color: #12A;
    border:1px solid #12A;
    }
a.navitemsel, a.navitemsel:link, a.navitemsel:visited {
    cursor:pointer;
    color: #555;
    border-top:1px solid #45A;
    border-bottom:1px solid #45A;
    background-color:#D0D8FF;
    text-decoration:none;
    padding: 0px 0px 0px 5px;
    display:block;
    }
a.navitemsel:hover {
    cursor:hand;
    color: #111;
    border-top:1px solid #4A4;
    border-bottom:1px solid #4A4;
    background-color:#DFD;
    }
a.navitem2, a.navitem2:link, a.navitem2:visited{
    cursor:pointer;
    height: 18px;
    color: #000;
    text-decoration:none;
    padding: 0px 0px 0px 5px;
    display:block;
    }
a.navitem2:hover {
    cursor:hand;
    color: #111;
    background-image: url('images/nav_sel_s.png');
    }
a.navitem2sel, a.navitem2sel:link, a.navitem2sel:visited {
    cursor:pointer;
    height: 18px;
    color: #000;
    text-decoration:none;
    padding: 0px 0px 0px 5px;
    background-image: url('images/nav_sel_b.png');
    display:block;
    }
a.navitem2sel:hover {
    cursor:hand;
    color: #111;
    background-image: url('images/nav_sel_s.png');
    }
a.navitema, a.navitema:link, a.navitema:visited {
    cursor:pointer;
    color: #A00;
    border-top:1px solid white;
    border-bottom:1px solid white;
    text-decoration:none;
    padding: 1px 0px 1px 5px;
    font-weight:bold;
    display:block;
    }
a.navitema:hover {
    cursor:hand;
    color: #000;
    border-top:1px solid #800;
    border-bottom:1px solid #800;
    padding: 0px 0px 0px 5px;
    background-color:#FA9;
    }
.contact1 {
    color: #000;
    border-bottom:1px solid #888;
    letter-spacing:0.1em;
    font-weight:bold;
    font-size:14px;
    }
.contact2 {
    color: #000;
    border-right:1px dashed #888;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 10px 2px 0px;
    }
.contact3 {
    color: #000;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 0px 2px 10px;
    }
.email {
    padding: 2px 0px 3px 10px;
    }
.ex_pers {
    color: #000;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 20px 0px 2px 10px;
    width:700px;
    }
.ex_name {
    color: #000;
    text-transform:uppercase;
    border-bottom: 1px solid #004;
    letter-spacing:0.25em;
    font-weight:bold;
    font-size:14px;
    padding: 2px 0px 2px 10px;
    }
.ex_title {
    color: #000;
    text-transform:uppercase;
    border-bottom: 1px solid #CCD;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 0px 2px 10px;
    }
.ex_bio {
    color: #777;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 0px 2px 30px;
    }
.firefox, .firefox:link, .firefox:visited {
    background-image: url('images/firefox1.png');
    display: block;
    float: right;
    width: 125px;
    height: 50px;
    } 
    
.firefox:hover {
    background-image: url('images/firefox2.png');
    }
input.login1 {
    border: 1px solid #808080;
    font-size: 10px;
    width: 140px;
}
input.submit1 {
    background-color: #D0D0D8;
    border: 1px solid #808080;
    font-size: 10px;
    margin: 0px 9px 0px 4px;
}
td.login1 {
    font-size: 9px;
    color:#606060;
    margin:0px 0px 2px 0px;
}