a.elink:link, a.elink:visited { 
    color: #000000; 
    text-decoration: none; 
    }
a.elink:hover, a.elink:active { 
    color: #3F4AFC; 
    text-decoration: none; 
    }
a.mlink:link, a.mlink:visited { 
    color: #444; 
    text-decoration: none; 
    border-bottom: 1px dashed #8D8;
    padding: 1px 1px 0px 1px;
    }
a.mlink:hover, a.mlink:active { 
    color: #000; 
    text-decoration: none; 
    background-color: #EFE;
    border: 1px dashed #2A4;
    padding: 0px 0px 0px 0px;
    }
div.pad5 {
    padding: 5px 5px 5px 5px;
    }
.title {
    font-family:verdana,luxi-sans,helvetica,sans-serif;
    font-size:18;
    font-weight:bold;
    text-align: left;
    color: #001050;
    margin:0px 0px 0px 0px;
    padding:6px 0px 6px 0px;
    border-bottom:1px solid #000080;
    width: 820px;
    }
.spaced1 {
    letter-spacing:.2em;
    line-height:1.2em;    
    }
.spaced2 {
    letter-spacing:0em;
    line-height:1.7em;    
    }
.dfc {
    color:#2A33B1;
    font-weight:bold;
    }
.nav {
    width:160px;
    /* float:left; */
    border-right:1px dashed #017;
    padding: 16px 0px 0px 0px;
    color: #555;
    }
div.navspacer {
    width:140px;
    height:3px;
    margin: 0px 0px 3px 0px;
    border-bottom: 1px dashed #000;
    }
a.navitem, a.navitem:link, a.navitem:visited{
    cursor:pointer;
    color: #000;
    text-decoration:none;
    padding: 1px 0px 1px 5px;
    display:block;
    }
a.navitem:hover {
    cursor:hand;
    color: #111;
    border-top:1px solid #4A4;
    border-bottom:1px solid #4A4;
    padding: 0px 0px 0px 5px;
    background-color:#DFD;
    }
a.navitemsel, a.navitemsel:link, a.navitemsel:visited {
    cursor:pointer;
    color: #555;
    border-top:1px solid #45A;
    border-bottom:1px solid #45A;
    background-color:#D0D8FF;
    text-decoration:none;
    padding: 0px 0px 0px 5px;
    display:block;
    }
a.navitemsel:hover {
    cursor:hand;
    color: #111;
    border-top:1px solid #4A4;
    border-bottom:1px solid #4A4;
    background-color:#DFD;
    }
a.navitema, a.navitema:link, a.navitema:visited{
    cursor:pointer;
    color: #A00;
    border-top:1px solid white;
    border-bottom:1px solid white;
    text-decoration:none;
    padding: 1px 0px 1px 5px;
    font-weight:bold;
    display:block;
    }
a.navitema:hover {
    cursor:hand;
    color: #000;
    border-top:1px solid #800;
    border-bottom:1px solid #800;
    padding: 0px 0px 0px 5px;
    background-color:#FA9;
    }
.contact1 {
    color: #000;
    border-bottom:1px solid #888;
    letter-spacing:0.1em;
    font-weight:bold;
    font-size:14px;
    }
.contact2 {
    color: #000;
    border-right:1px dashed #888;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 10px 2px 0px;
    }
.contact3 {
    color: #000;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 0px 2px 10px;
    }
.email {
    padding: 2px 0px 3px 10px;
    }
.ex_pers {
    color: #000;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 20px 0px 2px 10px;
    width:700px;
    }
.ex_name {
    color: #000;
    text-transform:uppercase;
    border-bottom: 1px solid #004;
    letter-spacing:0.25em;
    font-weight:bold;
    font-size:14px;
    padding: 2px 0px 2px 10px;
    }
.ex_title {
    color: #000;
    text-transform:uppercase;
    border-bottom: 1px solid #CCD;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 0px 2px 10px;
    }
.ex_bio {
    color: #777;
    letter-spacing:0.1em;
    font-weight:normal;
    font-size:12px;
    padding: 2px 0px 2px 30px;
    }
.firefox, .firefox:link, .firefox:visited {
    background-image: url('images/firefox1.png');
    display: block;
    float: right;
    width: 125px;
    height: 50px;
    } 
    
.firefox:hover {
    background-image: url('images/firefox2.png');
    }
