

<BODY>
<STYLE TYPE="text/css">
.test {
    cursor:pointer;
}
.test:hover {
    cursor:hand;
}
.green {
    color:green;
}
</STYLE>
<TABLE BORDER=1 WIDTH=200 HEIGHT=200>
<TR>
<TD>kljsdf</TD>
<TD>kljsdf</TD>
<TD>kljsdf</TD>
</TR>
<TR>
<TD CLASS="test"><A HREF=# onClick="return false;"><DIV CLASS="test">kljsdf</DIV></A></TD>
<TD CLASS="green">kljsdf</TD>
<TD CLASS="test">kljsdf</TD>
</TR>
<TR>
<TD>kljsdf</TD>
<TD>kljsdf</TD>
<TD>kljsdf</TD>
</TR>
</TABLE>