<DIV CLASS=title>Tutorial - Section 1 - Preface</DIV>
<DIV CLASS="spaced2" STYLE="clear:all;padding:8px 8px 8px 8px;font-size:13px;text-align:justify;">

<P>Welcome to the Dynamic Fast Cards tutorial. This guide will help you better understand
how the program works. This tutorial provides an in-depth look at all aspects of the program,
from simple items such as the navigation bar, through using the lesson builder, to managing your account.</P>

<U><B>Tutorial Index</B></U>
<P>Before we get started, you may have noticed the index to the right roll-up as you first viewed this page.
This index is a handy way to navigate to different parts of this tutorial. To open the Index, simply click on
the double arrows 
    <IMG VALIGN=BOTTOM SRC="images/down.gif" STYLE="border: 1px solid #ABF;background-color:#D0E0FF;padding: 1px 1px 1px 1px;">
that point down. This will "unroll" the index to reveal links to all the pages of this tutorial. Whenever you
navigate to a page in the tutorial from this index, the index will then roll-up again so that you can read the
page that you navigated to. If you wish to roll-up the index again, you will notice that the arrows now point 
up when the index is open. Click on the double arrows 
    <IMG VALIGN=BOTTOM SRC="images/up.gif" STYLE="border: 1px solid #ABF;background-color:#D0E0FF;padding: 1px 1px 1px 1px;">
that point up and the index will roll-up again. </P>

<P>At the bottom of each page in the index, there are 2 links. One link will take you to the next page, and the other
link will take you to the previous page in the tutorial.</P>

<U><B>Naming Conventions</B></U>
<P>Throughout the organization of this tutorial you will see a common format for explaining the use of the program.
There are screenshots of each element in the program with red arrows with a circle and number at the end of the arrow.
These are "callouts" that coincide with a reference in the tutorial. An Example is shown below.</P>
<DIV STYLE="margin: 20px; padding:0px;border:1px solid #888;width:500px;">
    <DIV STYLE="padding:0px 0px 0px 10px;background-color:#DDD;border-bottom:1px solid #888;">Example:</DIV>
    <DIV STYLE="margin: 0px; padding:20px;">
        <IMG STYLE="margin:0px 10px 5px 8px;float:right;" SRC=images/tutorial_ar.png>

        <P><IMG ALIGN=LEFT SRC=images/tut_1l.png STYLE="margin:5px 5px 0px 0px;">This is the description of the area that arrow 1 is pointing at. You will always find
        the description next to the diagram either on the left side or the right side.</P>

        <P><IMG ALIGN=LEFT SRC=images/tut_2l.png>This is the description of the area that arrow 2 is pointing at. </P>
    </DIV>
</DIV>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=100% STYLE="border-top:1px solid #AAA;color:#78B;margin:30px 10px 30px 10px;clear:both;">
    <TR>
        <TD WIDTH=20% ALIGN=LEFT>&nbsp;</TD>
        <TD WIDTH=60% ALIGN=CENTER>Section 1 - Preface</TD>
        <TD WIDTH=20% ALIGN=RIGHT><A CLASS="tlink" HREF="?i=c&section=2">Next Page</A></TD>
    </TR>
</TABLE>

</DIV>
