<DIV CLASS=title>Tutorial - Section 2 - The Navigation Bar</DIV>
<DIV CLASS="spaced2" STYLE="clear:all;padding:8px 8px 8px 8px;font-size:13px;text-align:justify;">

<P>The Navigation Bar is located to the right of the screen in the Dynamic Fast Cards program. This is how you can navigate
around in the program and access the account and support areas of the program. The Navigation Bar has 3 main headings labeled
"Dynamic Fast Cards", "Your Account", and "Support". When you first enter the program, the "Dynamic Fast Cards" heading is
already expanded and you can see the six sub-headings below the main heading.</P>

<P>Whenever you click on a main heading, it will either expand or collapse depending on whether it was collapsed or expanded
when it was clicked on. Also when you click on a main heading, the page associated with that heading will appear in the main
area to the right of the Navigation Bar.</P>

<U><B>Navigation Bar</B></U>

<DIV STYLE="margin:0px 30px 0px 30px;">
    <IMG STYLE="margin:0px 10px 5px 8px;float:right;" SRC=images/tutorial_n.jpg>
    <P><IMG ALIGN=LEFT SRC=images/tut_1l.png STYLE="margin:5px 5px 0px 0px;">This shows a main heading that is expanded. When clicked,
    this heading will collapse and hide the sub-headings that are listed beneath it.</P>
    <P><IMG ALIGN=LEFT SRC=images/tut_2l.png STYLE="margin:5px 5px 0px 0px;">This shows a main heading that is collapsed. When clicked,
    this heading will expand and reveal the sub-headings that are listed beneath it.</P>
    <P><IMG ALIGN=LEFT SRC=images/tut_3l.png STYLE="margin:5px 5px 0px 0px;">This shows a sub-heading that is part-of or under one of
    the main headings.</P>
</DIV>
<!--  End of page -->

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=100% STYLE="border-top:1px solid #AAA;color:#78B;margin:30px 10px 30px 10px;clear:both;">
    <TR>
        <TD WIDTH=20% ALIGN=LEFT><A CLASS="tlink" HREF="?i=c&section=1">Previous Page</A></TD>
        <TD WIDTH=60% ALIGN=CENTER>Section 2 - The Navigation Bar</TD>
        <TD WIDTH=20% ALIGN=RIGHT><A CLASS="tlink" HREF="?i=c&section=2.1">Next Page</A></TD>
    </TR>
</TABLE>

</DIV>
