<DIV CLASS=title>Tutorial - Section 3.5 - Lesson Builder</DIV>
<DIV CLASS="spaced2" STYLE="clear:all;padding:8px 8px 8px 8px;font-size:13px;text-align:justify;">

<IMG STYLE="margin:0px 10px 5px 8px;float:right;" SRC=images/tutorial_v.jpg>

<P>To the right you can see a diagram of the locabulary list that is part of the Vocabulary Builder. This list is the main 
method of adding new words to your lesson. As you may have noticed, the background color of the word list is color-coded to
the language that you are viewing. </P>


<IMG STYLE="margin:0px 10px 5px 8px;float:left;" SRC=images/tutorial_l.jpg>

<BR><BR>Image for Lessons

<BR><BR>Image for Save / Create

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=100% STYLE="border-top:1px solid #AAA;color:#78B;margin:30px 10px 30px 10px;clear:both;">
    <TR>
        <TD WIDTH=20% ALIGN=LEFT><A CLASS="tlink" HREF="?i=c&section=3.4">Previous Page</A></TD>
        <TD WIDTH=60% ALIGN=CENTER>Section 3.5 - Lesson Builder</TD>
        <TD WIDTH=20% ALIGN=RIGHT><A CLASS="tlink" HREF="?i=c&section=3.6">Next Page</A></TD>
    </TR>
</TABLE>

</DIV>