<DIV CLASS=title>Tutorial - Section 2.1 - Dynamic Fast Cards</DIV>
<DIV CLASS="spaced2" STYLE="clear:all;padding:8px 8px 8px 8px;font-size:13px;text-align:justify;">

<P></P>

<U><B>Navigation Bar</B></U>

<DIV STYLE="margin:0px 30px 0px 30px;">
    <IMG STYLE="margin:0px 10px 5px 8px;float:right;" SRC=images/tutorial_n.jpg>
    <P><IMG ALIGN=LEFT SRC=images/tut_1l.png STYLE="margin:5px 5px 0px 0px;">This shows a main heading that is expanded. When clicked,
    this heading will collapse and hide the sub-headings that are listed beneath it.</P>
    <P><IMG ALIGN=LEFT SRC=images/tut_2l.png STYLE="margin:5px 5px 0px 0px;">This shows a main heading that is collapsed. When clicked,
    this heading will expand and reveal the sub-headings that are listed beneath it.</P>
    <P><IMG ALIGN=LEFT SRC=images/tut_3l.png STYLE="margin:5px 5px 0px 0px;">This shows a sub-heading that is part-of or under one of
    the main headings.</P>
</DIV>
<!--  End of page -->

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=100% STYLE="border-top:1px solid #AAA;color:#78B;margin:30px 10px 30px 10px;clear:both;">
    <TR>
        <TD WIDTH=20% ALIGN=LEFT><A CLASS="tlink" HREF="?i=c&section=2">Previous Page</A></TD>
        <TD WIDTH=60% ALIGN=CENTER>Section 2.1 - Dynamic Fast Cards</TD>
        <TD WIDTH=20% ALIGN=RIGHT><A CLASS="tlink" HREF="?i=c&section=2.2">Next Page</A></TD>
    </TR>
</TABLE>

</DIV>
